.header  {
     background-color: $White;
        position: fixed;
        background: #fff;
        width: 100%;
        z-index: 1111;
    
     .navItems .nav-link{
        color: $Grayish_Blue!important;
    }
    .navItems li{
        position: relative;
      }
      .navItems li:before{
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.navItems li:hover::before{
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        background-color: $Lime_Green;
        bottom: 0;
        left: 0;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
}
   
}
