
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*variables*/
/*coolors*/
$Dark_Blue: hsl(233, 26%, 24%);
$Lime_Green: hsl(136, 65%, 51%);
$Bright_Cyan: hsl(192, 70%, 51%);
$Grayish_Blue: hsl(233, 8%, 62%);
$Light_Grayish_Blue: hsl(220, 16%, 96%);
$Very_Light_Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

